@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title </h2>
    

<div class="AboutBox">
    <div id="AboutText">
        <p>This is site which can help provide using VK bot</p>

    </div>
    <a href="/Home/index">Home Page</a>
</div>