@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title </h2>
    

<div class="AboutBox">
    <div id="AboutText">
        <p>This is site which can help provide using VK bot</p>
        @{AspMySite.Models.BotModel.BotListener.VkListener.LongPollMethod vk =
new AspMySite.Models.BotModel.BotListener.VkListener.LongPollMethod
("");
                <h3>@vk.GetLongPollServer(3, true).GetValue("response") </h3>;
    }
    </div>
    <a href="/Home/index">Home Page</a>
</div>