@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Karton company.<br />
    Voronezh, Mprospect 133<br />
    <abbr title="Phone">P: +79518799528 </abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Dmutpuu2000@gmail.com">Dmutpuu2000@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Dmutpuu2000@gmail.com">Dmutpuu2000@gmail.com</a>
</address>