@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KartonBot</h1>
    <p class="lead">KartonBot is a free bot which help in building great ideas on many web sites</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started with Bot</h2>
        <p>
            This Bot built with ASP.NET Framework.
            Its Handling many APIs like Twitch, VK, Google, and Games APIs.
            Bot can be managed on this site and gives a lot of functional commands.
            You can create commands and handle this.

        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more functional!</h2>
        <p>Everyone can help with this opensource project. Also you can give ideas for new functional.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">About  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Authtorization</h2>
        <p>You can easily create account and use all power of KartonBot. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Registration &raquo;</a></p>
    </div>
</div>