
@{
    ViewBag.Title = "BotSettings";
}

<div class="body-content">
    <div class="label">
        Bot Configuration
        <div>
            shutdown/start bot
        </div>

        <div>
            restart bot
        </div>

        <div>
            site instances
            <div>
                vk
            </div>
            <div>
                twitch
            </div>
            <div>
                osu
            </div>
            <div>
                google/youtube
            </div>
        </div>


        <div>
            startup message
        </div>

        <div>
            view time every (day/hour)
        </div>

        <div>
            illegal words
        </div>

        <div>
            vk bot/bots token(key) for bot account
        </div>

        <div>
            twitch bot/bots tokens
        </div>

        <div>
            osu tokens
        </div>
    </div>
</div>

