
@{
    ViewBag.Title = "BotSettings";

}


<div class="jumbotron">
    <h1 class="lead">Bot Configuration</h1>

</div>

<div class="">
    <div class="">


        <div class="jumbotron">

            <h2 >Bot runtime management:</h2>


            <button class="btn btn-success btn-default panel-body">Start  &#9664;</button>
            <button class=btn btn-danger btn-default panel-body">Shutdown 	&#9724;</button>
            <button class="btn btn-info btn-default panel-body">Restart bot &#x21bb;</button>
        </div>

        <div class="jumbotron">
            <h2>Vk instances:</h2>
                <h4 class="lead">
                    Write all checkable instances down here. 
                   Dont input anything if you dont wanna handle resource...
                    If you wanna put 2 or more instances 
                    use syntax; Its should looks like:  InstanseLink1;InstanseLink2
                    
                </h4>
            <div>
                <label for="pwd" class="inst-input"> &#11043; VK Token:</label>
                <input type="url", name="urls" class="form-control", value="vk token ...">
  
            </div>

            <div>
               
                <label for="pwd", class="inst-input"> &#11043; Chat IDs :</label>
                <input type="url" , name="urls" class="form-control", value="id/ids of handlable chats...">
            </div>

            <div> 
                <label for="pwd", class="inst-input"> &#11043; Group IDs :</label>
                <input type="url" , name="urls" class="form-control", value="your handleble osu accounts..">

            </div>

            <div>
                <label for="pwd", class="inst-input"> &#11043; StartupMessage(all chatIDs and UserIds separated by "," :</label>
                <input type="url" , name="urls" class="form-control" value="your google accounts">
                
            </div>

        </div>
    </div>
</div>

